---
layout: default
---

{% for post in paginator.posts %}
  <article>
    <div class="post-date">{{ post.date | date_to_string }}</div>
    <h2>
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h2>
    <p>{{ post.description }}</p>
  </article>

  <hr>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a href="/page{{paginator.next_page}}" class="older">Older</a>
  {% else %}
    <span class="next">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a href="/" class="newer">Newer</a>
    {% else %}
      <a href="/page{{paginator.previous_page}}" class="newer">Newer</a>
    {% endif %}
  {% else %}
    <span class="previous">Newer</span>
  {% endif %}
</div>
