@import '../vendor/normalize-css/normalize.css';
@import 'pygments.css';

/*
  Base Styles
  Typography
  Skip/Toggle Nav
  Layout
    Header
    Main
      Article
        Quotes
      Footer
    Navigation
    Footer
  Pagination
  Nav States
*/

/*
  Base Styles
  =========================================================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
}

html, body {
  min-height: 100%;
}

html {
  height: 100%;
  font: 400 1.0625em/1.75 "Ubuntu", sans-serif;
}

body {
  color: #222;
  background: #fefefe;
}

a {
  -webkit-transition: color 0.3s ease, background 0.3s ease;
  transition: color 0.3s ease, background 0.3s ease;
  color: #008A99;
  text-decoration: none;
}

a:focus {
  outline: none;
}

a:nth-child(even) {
  color: #BF4584;
}

a:hover, a:focus {
  color: #111;
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

/*
  Typography
  =========================================================================
*/

h1, h2, h3, h4, h5, h6 {
  font-family: 'Exo 2', sans-serif;
  line-height: 1;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
.post-date + h1,
.post-date + h2,
.post-date + h3,
.post-date + h4,
.post-date + h5,
.post-date + h6 {
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3, h4 {
  font-size: 1.5em;
}

h5, h6 {
  font-size: 1.1em;
}

/*
  Skip/Toggle Nav
  =========================================================================
*/

#skip-to-nav {
  font-size: 0.8em;
  display: block;
  text-indent: 100%;
  overflow: hidden;
  z-index: 99;
  position: fixed;
  top: 1.5em;
  left: 1.5em;
  width: 2.5em;
  height: 2.125em;
  border-top: 0.5em solid #111;
  border-bottom: 1.25em double #111;
  white-space: nowrap;
}

[data-menu-state="open"] #skip-to-nav {
  border-color: #ddd;
}

/*
  Layout
  =========================================================================
*/

#main, #footer {
  padding: 3.75em;
  width: 92.5%;
  max-width: 42.5em;
  margin: 0 auto;
}

#main {
  background: #fefefe;  
  min-height: 100%;
  padding-bottom: 0;
}

/*
  Header
  =========================================================================
*/

#header {
  width: 80%;
  height: 100%;
  position: fixed;
  z-index: 90;
  background: #eee;
  max-width: 17em;
  right: 100%;
  top: 0;
  color: #222;
  border-right: 0.125em solid #ddd;
}

#header h1 {
  font-size: 0.9em;
  padding: 1.5em 1.5em 0.5em;
}

#header p {
  font-size: 0.85em;
  line-height: 2;
  padding: 0 1.5em 1.5em;
  margin: 0;
}

/*
  Footer
  =========================================================================
*/

#footer {
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
}

#footer .copyright {
  border-top: 1px solid #ddd;
  display: block;
  padding-top: 3.75em;
  padding-bottom: 3.75em;
  font-size: 0.75em;
  color: #bbb;
}

/*
  Articles
  =========================================================================
*/

article:last-of-type + hr {
  display: none;
}

/*
  Horizontal Rule
  =========================================================================
*/

hr {
  position: relative;
  margin: 2.5em auto;
  height: 0;
  border: none;
  border-bottom: 1px solid #ddd;
}

hr:before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

/*
  Blockquote
  =========================================================================
*/

blockquote {
  margin: 3em 0;
}

blockquote p {
  font: 700 1.5em/1 'Exo 2', sans-serif;
  border-left: 0.25em solid #ccc;
  padding-left: 1em;
  color: #ccc;
}

blockquote em {
  display: block;
  color: #bbb;
  text-align: right;
  font-size: 0.5em;
}

/*
  Article Footer
  =========================================================================
*/

article footer {
  font-size: 0.85em;
  padding-bottom: 2em;
}

article footer h5,
article footer h6 {
  font-size: 1em;
  margin: 0;
}

#bio {
  display: table-cell;
}

#share {
  display: table-cell;
  width: 10em;
  text-align: center;
  padding-left: 1em;
  margin-left: 1em;
  float: right;
}

#share ul,
#share li {
  margin: 0.125em 0 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}

#share a {
  font-size: 1.125em;
  border-radius: 0.25em;
  display: block;
  margin: 0.5em;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5;
  background: #BF4584;
  color: #fff;
}

#share a:hover {
  background: #008A99;
  text-decoration: none;
}

/*
  Pagination
  =========================================================================
*/

#pagination {
  padding-top: 3.75em;
  padding-bottom: 3.75em;
  overflow: hidden;
}

#pagination a {
  font-size: 2em;
  display: block;
  width: 48.75%;
  background: #ddd;
  height: 2em;
  line-height: 1.5;
  color: #fefefe;
  padding: 0.25em 0.5em;
  text-align: center;
  float: left;
  font-weight: 700;
}

#pagination a:hover {
  background: #008A99;
  text-decoration: none;
}

#pagination .newer {
  float: right;
}

#pagination .newer:hover {
  background: #BF4584;
}

  Navigation
  =========================================================================
*/

#navigation ul,
#navigation li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#navigation ul {
  border-top: 1px solid #ddd;;
}

#navigation a {
  display: block;
  font-size: 0.9em;
  padding: 0.5em 1em;
  border-bottom: 1px solid #ddd;
  color: #000;
}

#navigation a:hover {
  background: #fff;
  text-decoration: none;
}

#skip-to-nav, #header, #main, #footer {
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

[data-menu-state="open"] body {
  overflow: hidden;
}

[data-menu-state="open"] #header {
  overflow: scroll;
}

[data-menu-state="open"] #skip-to-nav,
[data-menu-state="open"] #header,
[data-menu-state="open"] #main,
[data-menu-state="open"] #footer {
  -webkit-transform: translate(17rem, 0);
  -ms-transform: translate(17rem, 0);
  transform: translate(17rem, 0);
}
