---
layout: default
---

<article>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  <h1>{{ page.title }}</h1>
  {{ content }}

  <hr>

  <footer>

    <div id="share">
      <h5>Share Post</h5>
      <ul>
        <li>
          <a href="http://twitter.com/share?text={{ page.title | uri_escape }}&amp;url={{ site.url }}{{page.url}}">t</a>
        </li>
        <li>
          <a href="http://www.facebook.com/sharer.php?u={{ site.url }}{{ page.url }}">f</a>
        </li>
      </ul>
    </div>

    <div id="bio">
      <h5>{{ site.author.name }}</h5>
      <p>{{ site.author.bio }}</p>
    </div>

  </footer>
</article>
